@tailwind components;

@layer components {
    .AppHeader {
        @apply py-2 flex items-center justify-between flex-1 border-b border-gray-50 dark:border-black-400;
    }

    .AppSidebar {
        @apply flex flex-row py-6 justify-center
        relative shadow-sm bg-gray-50 dark:bg-black-400
        h-screen hidden lg:flex;
    }

    .AppSidebarItem {
        @apply rounded-md items-center transition-colors border-transparent text-sm
        w-full pr-12 w-full py-2.5 px-4 font-medium flex space-x-4 transition;
    }

    .AppSidebarItemActive {
        @apply bg-primary-500 text-white font-semibold;
    }

    .AppSidebarItemNotActive {
        @apply dark:text-gray-300 dark:hover:text-white text-gray-600 ring-transparent
            active:bg-gray-200 dark:active:bg-black-300 dark:active:bg-black-300
            hover:bg-gray-100 dark:hover:bg-black-300 dark:bg-black-400;
    }

    .AppSidebarFooterItem {
        @apply flex text-xs space-x-2
        items-center text-gray-500
        dark:text-gray-300
        dark:hover:text-primary-500;
    }

    .FixedHeader {
        position: sticky;
        top: 0;

        @apply dark:bg-black-500/90 bg-white/90 z-10 w-full;
    }

    .FixedHeader ~ .Container {
        position: relative;
        top: 3rem;
    }
}
