@tailwind components;

@layer components {
    .AppHeader {
        @apply py-2 flex flex-row items-center justify-between flex-1;
    }

    .AppSidebar {
        @apply flex flex-row py-6 justify-center
        relative shadow-sm bg-gray-50 dark:bg-black-400
        h-screen hidden lg:flex;
    }

    .AppSidebarItem {
        @apply rounded-md hover:text-current text-sm
        items-center duration-300 border-transparent
        dark:bg-black-400 px-3 w-full pr-12 w-full py-2 font-medium
        flex space-x-3 hover:bg-gray-200 dark:hover:bg-black-300
        dark:hover:text-primary-500 transition;
    }

    .AppSidebarItemActive {
        @apply bg-gray-200 text-current
        dark:text-primary-500
        dark:bg-black-300 font-bold;
    }

    .AppSidebarItemNotActive {
        @apply dark:text-gray-300 text-gray-600;
    }

    .AppSidebarFooterItem {
        @apply flex text-xs space-x-2
        items-center text-gray-500
        dark:text-gray-300
        dark:hover:text-primary-500;
    }

    .FixedHeader {
        position: fixed;
        top: 0;

        @apply dark:bg-black-500/90 bg-white/90 z-10;
    }

    .FixedHeader ~ .Container {
        position: relative;
        top: 3rem;
    }
}
