/* Start purging... */
@tailwind components;

@layer components {
    /* Global Link Style */
    a {
        @apply outline-primary-200 outline-2 active:outline-none;
    }

    /* NavigationContainer.tsx */
    .NavigationContainer {
        @apply border-b dark:border-black-400 dark:border-black-400 border-gray-50;
    }

    /* NavigationMenu.tsx */
    .NavigationMenu {
        @apply flex-1 space-x-1 lg:space-x-2 dark:text-gray-300
        items-center flex-row flex-wrap hidden lg:flex;
    }

    .NavigationMenu.VerticalNavigationMenu {
        @apply flex flex-row justify-between space-x-2 lg:justify-start
        lg:flex-col lg:space-x-0 lg:space-y-1 items-start;
    }

    /* NavigationItem.tsx */
    .NavigationItem {
        @apply leading-loose
        transition-colors dark:text-gray-300
        text-gray-600 flex items-center text-sm;
    }

    .NavigationItemActive a {
        @apply text-primary-500 font-medium;
    }

    .NavigationItem a {
        @apply py-1 px-1 lg:px-2 xl:px-2.5 flex items-center rounded-md font-medium w-full transition-colors;
    }

    .PillNavigationMenu .NavigationItemActive a {
        @apply bg-gray-100 dark:text-white text-current dark:bg-black-300 rounded-md;
    }

    .PillNavigationMenu .NavigationItemNotActive a {
        @apply hover:bg-gray-50 dark:hover:bg-black-400 active:bg-gray-100 dark:active:bg-black-300;
    }

    .SecondaryNavigationMenu .NavigationItemActive a {
        @apply bg-transparent font-semibold;
    }

    .BorderedNavigationMenu {
        @apply border-b border-gray-100 dark:border-black-200;
    }

    .BorderedNavigationMenu .NavigationItem a {
        @apply h-14 border-b-[0.15rem] relative border-transparent top-[1px];
    }

    .BorderedNavigationMenu .NavigationItemActive a {
        @apply border-primary-500 text-primary-600 dark:text-white bg-transparent rounded-none;
    }

    .BorderedNavigationMenu .NavigationItemNotActive a {
        @apply hover:text-primary-500;
    }

    .NavigationItemNotActive {
        @apply active:text-current text-gray-700 dark:text-gray-300
        hover:text-current dark:hover:text-white;
    }

    .NavigationItemActive {
        @apply font-semibold text-black-600 dark:text-white;
    }

    .NavigationItem a[aria-disabled='true'] {
        @apply cursor-not-allowed text-gray-300 dark:text-gray-600;
    }

    /* SectionSeparator.tsx */
    .SectionSeparator {
        @apply mt-16 mb-14 dark:border-black-300;
    }

    /* SubHeading.tsx */
    .SubHeading {
        @apply text-lg lg:text-xl lg:leading-[2.2rem] text-gray-500
        dark:text-gray-400 font-normal;
    }

    /* Badge.tsx */
    .Badge {
        @apply flex space-x-2 items-center font-medium;
    }

    .Badge.ColorNormal {
        @apply text-gray-500 bg-gray-100
        dark:text-gray-300 dark:bg-black-300;
    }

    .Badge.ColorSuccess {
        @apply bg-green-100 dark:bg-black-300
        text-green-700 font-semibold;
    }

    .Badge.SizeNormal {
        @apply rounded-lg px-3 py-2 text-sm;
    }

    .Badge.SizeSmall {
        @apply rounded px-2 py-1 text-xs;
    }

    /* Hero.tsx */
    .Hero {
        @apply text-4xl dark:text-white
            font-extrabold tracking-tight
            md:leading-none my-2 sm:my-6;
    }

    /** Alert.tsx */
    .Alert {
        @apply p-4 rounded relative flex
        items-center justify-between text-black-300 rounded-lg text-sm;
    }

    .Alert .AlertIcon {
        @apply rounded-full h-5 dark:bg-black-500;
    }

    .Alert.AlertSuccess {
        @apply bg-green-50 dark:bg-green-500/10 dark:text-green-500 text-green-900;
    }

    .Alert.AlertSuccess .AlertIcon {
        @apply text-green-700;
    }

    .Alert.AlertError {
        @apply bg-red-50 dark:bg-red-500/10 dark:text-red-500 text-red-900;
    }

    .Alert.AlertError .AlertIcon {
        @apply text-red-700;
    }

    .Alert.AlertWarn {
        @apply bg-yellow-50 dark:bg-yellow-500/5 dark:text-yellow-500 text-yellow-800;
    }

    .Alert.AlertWarn .AlertIcon {
        @apply text-yellow-700;
    }

    .Alert.AlertInfo {
        @apply bg-blue-50 dark:bg-blue-500/10 dark:text-blue-500 text-blue-900;
    }

    .Alert.AlertInfo .AlertIcon {
        @apply text-blue-700;
    }

    /* TextField.tsx */
    .TextField {
        @apply flex flex-col space-y-1;
    }

    .TextFieldInputContainer {
        @apply dark:border-black-200 dark:hover:border-black-100 w-full
        border-gray-200 border relative flex h-10
        text-gray-800 dark:text-gray-200 transition-all
        text-sm items-center flex rounded-md font-medium
        bg-white hover:bg-gray-50 dark:bg-black-500 ring-primary-500
        focus-within:ring-2 focus-within:border-transparent
        focus-within:hover:border-transparent dark:focus-within:hover:border-transparent
        shadow-sm dark:focus:bg-black-400 hover:border-gray-300;
    }

    .TextFieldInputContainerDisabled {
        @apply bg-gray-100 hover:bg-gray-100 dark:bg-black-400 cursor-not-allowed;
    }

    .TextFieldInputContainer input {
        @apply bg-transparent outline-none flex-auto px-2.5 h-10 rounded-md;
    }

    .TextFieldInputContainer input:-webkit-autofill,
    .TextFieldInputContainer input:-webkit-autofill:hover,
    .TextFieldInputContainer input:-webkit-autofill:active,
    .TextFieldInputContainer input:-webkit-autofill:focus {
        @apply shadow-[inset_0_0_0_1000] shadow-white;
    }

    .TextFieldInputContainer textarea {
        @apply bg-transparent outline-none py-2 px-2
        min-h-[60px] flex-auto resize-none;
    }

    .TextFieldInputContainer.small {
        @apply h-8;
    }

    .TextFieldInput[type='file'] {
        @apply w-full text-sm dark:text-white
        file:mr-4 file:py-2 file:px-4 items-center flex
        file:rounded-full file:border-0 file:cursor-pointer
        file:hover:bg-primary-600 file:active:bg-primary-700
        file:text-sm file:text-white file:font-semibold cursor-pointer
        file:bg-primary-500 bg-transparent shadow-none
        border-transparent justify-center h-10 py-2;
    }

    .TextFieldHint {
        @apply text-xs font-normal text-gray-500
        dark:text-gray-400 leading-tight block pl-1;
    }

    /* Label.tsx */
    .Label {
        @apply text-gray-500 text-sm font-medium w-full dark:text-gray-400;
    }

    .Label > * {
        margin-top: 0.3rem;
    }

    .Label.no-margin > * {
        margin-top: 0;
    }

    /* Button.tsx */
    .Button {
        @apply rounded-md font-normal transition-colors
        flex items-center justify-center outline-none focus:ring-2;
    }

    .Button.ButtonPrimary {
        @apply bg-primary-500 text-primary-contrast
        hover:bg-primary-600 active:bg-primary-700
        dark:text-primary-contrast ring-primary-400;
    }

    .Button.ButtonDanger {
        @apply bg-red-400 active:bg-red-600 hover:bg-red-500 text-white ring-red-300;
    }

    .Button.ButtonSecondary {
        @apply bg-gray-100 dark:bg-black-300 active:bg-gray-200 ring-gray-200 dark:ring-black-200
        hover:bg-gray-200 dark:hover:bg-black-200 dark:active:bg-black-400;
    }

    .Button.ButtonTransparent {
        @apply hover:bg-gray-50 active:bg-gray-100
        dark:hover:bg-black-400 dark:active:bg-black-300
        ring-primary-50 dark:ring-black-400 dark:hover:text-white
        text-gray-800 dark:text-gray-300 font-medium;
    }

    .Button.GradientButton {
        @apply flex !bg-gradient-to-r md:w-auto hover:shadow-primary-600
        from-primary-400 text-center text-white md:h-auto
        justify-center to-primary-600 hover:shadow-primary-500/40
        transition-all hover:to-primary-700 active:from-primary-500 hover:shadow-lg;
    }

    .ButtonNormal {
        @apply text-sm py-2 px-5 h-10;
    }

    .ButtonLarge {
        @apply py-2.5 px-6 h-12 text-lg h-12;
    }

    .ButtonSmall {
        @apply text-xs py-2 px-3;
    }

    .Button.ButtonPrimaryOutline {
        @apply bg-transparent text-primary-700
        border-2 border-primary-500 hover:text-white;
    }

    .Button.ButtonDangerOutline {
        @apply bg-transparent text-red-400
        border-2 border-red-400 hover:text-white;
    }

    .Button.ButtonPrimaryFlat {
        @apply bg-primary-400/5 text-primary-500 hover:bg-primary-50 ring-0
        active:bg-primary-100 dark:hover:bg-primary-500/10 dark:active:bg-primary-500/20;
    }

    .Button.ButtonDangerFlat {
        @apply bg-red-400/5 text-red-500 hover:bg-red-50 ring-0
        active:bg-red-100 dark:hover:bg-red-500/10 dark:active:bg-red-500/20;
    }

    .Button[disabled],
    .IconButton[disabled] {
        @apply opacity-50 cursor-not-allowed;
    }

    /* IconButton.tsx */
    .IconButton {
        @apply rounded-full bg-transparent hover:bg-gray-100
        dark:hover:bg-black-300 transition-colors duration-300
        dark:active:bg-gray-100 dark:active:bg-black-200 p-1
        outline-primary-300 focus:ring ring-primary-400;
    }

    /* ImageUploadInput.tsx */
    .ImageUploadInput {
        @apply TextFieldInput cursor-pointer relative
        border-dashed bg-white dark:bg-black-500
        hover:bg-gray-50 dark:hover:border-black-300
        transition-colors duration-300 border
        border-gray-200 dark:border-black-200
        p-2.5 rounded-lg dark:hover:border-black-100;
    }

    /* Popover.tsx */
    button.PopoverButton {
        @apply flex flex-row py-1 px-2.5
        dark:hover:bg-black-400 dark:active:bg-black-100
        items-center w-full dark:bg-black-500 rounded-md
        bg-white hover:bg-gray-100 active:bg-gray-200 border border-gray-200
        dark:border-black-300 text-lg dark:focus:bg-black-300
        transition-colors outline-none;
    }

    button.PopoverButtonActive {
        @apply border-b-transparent;
    }

    .PopoverChevronDownIcon {
        @apply ml-1 h-5 group-hover:text-opacity-80
        transition ease-in-out duration-150;
    }

    .PopoverPanel {
        @apply absolute rounded-md shadow-lg
        z-10 px-2 transform sm:px-0 min-w-[12rem]
        w-full bg-white dark:bg-black-400 mt-0.5;
    }

    .PopoverPanelItem {
        @apply flex bg-transparent dark:hover:bg-black-300
        active:bg-gray-100 dark:active:bg-black-300
        items-center cursor-pointer transition
        duration-150 ease-in-out focus:outline-none;
    }

    .PopoverItemLabel {
        @apply text-sm font-medium text-gray-700
        hover:text-black-500 dark:hover:text-white
        dark:text-gray-300 py-3 px-4 ellipsify;
    }

    .PopoverItemIcon {
        @apply flex items-center justify-center flex-shrink-0
        w-10 h-10 text-current sm:h-12 sm:w-12;
    }

    .TabsList {
        @apply flex px-1 py-1 dark:bg-black-500 grid grid-cols-3 gap-1;
    }

    /* Tab.tsx */
    .Tab {
        @apply NavigationItem flex flex-1 justify-center;
    }

    .Tab:not(.TabSelected) {
        @apply hover:bg-gray-50 dark:active:bg-black-300
        cursor-pointer dark:bg-black-500 dark:hover:bg-black-400;
    }

    .TabSelected,
    button.TabSelected {
        @apply NavigationItemActive dark:text-gray-100;
    }

    /* ListBox.tsx */
    .ListBoxButton {
        @apply TextFieldInputContainer px-2.5 h-10 text-left
        font-semibold hover:text-current dark:text-current;
    }

    .ListBoxButton.ListBoxButtonAlt {
        @apply small pl-3 py-1 font-bold bg-gray-100 hover:bg-gray-200
        dark:bg-black-300 dark:hover:bg-black-200 dark:text-gray-200
        border-transparent;
    }

    .ListBoxButtonOpen {
        @apply border-primary-500;
    }

    .ListBoxButtonIcon {
        @apply absolute inset-y-0 right-0 flex
        items-center pr-2 pointer-events-none;
    }

    .ListBoxOptionsContainer {
        @apply absolute w-full mt-0.5 overflow-auto
        text-base bg-white dark:bg-black-300
        rounded-lg shadow-sm max-h-96 z-50;
    }

    /* ListBoxOption.tsx */
    .ListBoxOption {
        @apply cursor-default select-none relative
        py-3 pl-4 pr-4 font-semibold
        text-sm transition-colors duration-75
        border-b dark:border-b-black-400 border-gray-50
    }

    .ListBoxOption.ListBoxOption[aria-disabled='true'] {
        @apply text-gray-500;
    }

    .ListBoxOptionNotActive {
        @apply dark:text-gray-200 dark:bg-black-400 text-gray-900;
    }

    .ListBoxOptionActive {
        @apply cursor-pointer text-gray-900
        bg-gray-50 dark:bg-black-300 dark:text-white;
    }

    .ListBoxOptionSelected {
        @apply bg-gray-100 dark:bg-black-300 dark:text-white
    }

    .ListBoxOptionIcon {
        @apply absolute inset-y-0 right-0 top-3 items-center pr-3;
    }

    .ListBoxOptionDescription {
        @apply text-gray-600 dark:text-gray-400
        leading-tight font-medium text-[0.7rem];
    }

    /* FallbackUserAvatar.tsx */
    .FallbackUserAvatar {
        @apply h-8 w-8 text-lg flex items-center
        transition-all justify-center
        bg-primary-500 rounded-full uppercase font-extrabold
        text-black-500 text-primary-contrast;
    }

    /* Dropdown.tsx */
    .DropdownMenu {
        @apply lg:relative block text-left;
    }

    .DropdownMenuItemsContainer {
        @apply z-10 absolute right-0 w-full lg:w-60 mt-2
        lg:mt-2 origin-top-right bg-white dark:bg-black-300
        lg:rounded-md shadow-xl focus:outline-none
        border-t border-gray-50 dark:border-black-300 py-1;

        top: var(--dropdown-menu-items-top, auto);
        bottom: var(--dropdown-menu-items-bottom, auto);
    }

    .DropdownItem {
        @apply flex flex-1 items-center w-full border-none
        sm:text-sm dark:text-white duration-200;
    }

    .DropdownMenuButtonContainer {
        @apply flex items-center;
    }

    .DropdownItem button[disabled],
    .DropdownMenuButtonContainer button[disabled] {
        @apply opacity-40 cursor-not-allowed;
    }

    .DropdownButtonContainer {
        @apply cursor-pointer items-center flex;
    }

    .DropdownButtonContainer button {
        @apply dark:active:bg-black-200 active:bg-gray-50 dark:outline-black-400 h-full;
    }

    .DropdownActiveItem .Button:not(.static) {
        @apply bg-gray-50 dark:bg-black-200 rounded-none text-black-500 dark:text-current;
    }

    .DropdownActiveItem .Button.static {
        @apply cursor-text;
    }

    .DropdownDivider {
        @apply bg-gray-200 dark:bg-black-200 border-none h-[1px];
    }

    /* Documentation */
    .DocumentationSidebarContainer {
        @apply mt-6 sticky inset-0 hidden md:flex overflow-y-auto h-screen;
    }

    .DocumentationSidebarItem {
        @apply flex dark:active:bg-black-400 active:bg-gray-100 flex-1
        text-sm text-gray-500 dark:text-gray-400 hover:text-current rounded-md
        py-1.5 px-2 transition-colors duration-300 w-full;
    }

    .DocumentationSidebarItemContainer:last-child {
        @apply pb-24;
    }

    .DocumentationSidebarItemSelected {
        @apply font-semibold text-current dark:text-primary-500 bg-primary-500/5;
    }

    .DocumentationSidebarItemNotSelected {
        @apply hover:border-l-primary-400 dark:hover:text-white
        dark:border-l-black-400 font-medium border-l-gray-50;
    }

    .AuthProviderButton {
        @apply border border-gray-200 dark:border-black-300
        hover:bg-gray-100 active:bg-gray-200 hover:border-gray-300
        dark:hover:border-black-100 dark:bg-black-400 ring-primary-500
        dark:hover:bg-black-400/80 dark:active:bg-black-400
        transition-all relative text-gray-600 dark:text-gray-200;
    }

    .Toggle {
        @apply h-6 w-12 cursor-pointer appearance-none
        bg-gray-600 dark:bg-gray-300 duration-300 ease-in-out rounded-xl;

        transition: all 0.25s ease-in-out;
        box-shadow: calc(1.5rem * -1) 0 0 2px #efefef inset, 0 0 0 2px #efefef inset;
    }

    .dark .Toggle {
        box-shadow: calc(1.5rem * -1) 0 0 2px #525252 inset, 0 0 0 2px #525252 inset;
    }

    .Toggle:hover {
        box-shadow: calc(1.5rem * -1) 0 0 2px #ddd inset, 0 0 0 2px #ddd inset;
    }

    .dark .Toggle:hover {
        box-shadow: calc(1.5rem * -1) 0 0 2px #666 inset, 0 0 0 2px #666 inset;
    }

    .Toggle:focus-visible {
        @apply outline outline-primary-500;

        outline-offset: 2px;
    }

    .Toggle:checked {
        @apply border-opacity-100 bg-opacity-100
        bg-primary-500 border-primary-400;

        box-shadow: 1.5rem 0 0 2px #eee inset, 0 0 0 2px #eee inset;
    }

    .dark .Toggle:checked {
        box-shadow: 1.5rem 0 0 2px #444 inset, 0 0 0 2px #444 inset;
    }

    .Stepper {
        @apply flex space-x-2 justify-between shadow-sm
        dark:border-black-400 dark:bg-black-400 px-2 py-1 rounded-md;
    }

    .StepperDivider {
        @apply flex bg-gray-300 dark:bg-black-200
        h-[2px] flex-1 transition-colors;

        align-items: center;
        justify-items: center;
        justify-self: center;
        align-self: center;
    }

    .StepperDivider:last-child {
        display: none;
    }

    .StepperStepSelected + .StepperDivider,
    .StepperStep.CompletedStep + .StepperDivider {
        @apply bg-primary-500 text-primary-contrast;
    }

    .StepperStep:not(.StepperStepSelected):not(.CompletedStep):hover + .StepperDivider {
        @apply bg-primary-500/40;
    }

    .StepperStepCircle {
        @apply rounded-full w-[35px] h-[35px] shadow duration-150
        font-bold flex justify-center items-center shadow-none
        bg-gray-200 dark:bg-black-200 transition-colors;
    }

    .StepperStep.StepperStepSelected {
        @apply dark:text-white text-gray-600;
    }

    .StepperStepSelected .StepperStepCircle {
        @apply bg-primary-500 text-white;
    }

    .StepperStep {
        @apply flex items-center space-x-4 dark:text-gray-400 text-gray-600
        transition-colors p-2 cursor-default outline-none;
    }

    .StepperStep.StepperStepActionable.StepperStepClickable:not(.StepperStepSelected):not([disabled]):hover {
        @apply dark:text-primary-contrast text-gray-600 cursor-pointer;
    }

    .StepperStep.StepperStepActionable.StepperStepClickable:not(.StepperStepSelected):not([disabled]):hover .StepperStepCircle {
        @apply bg-primary-500 text-primary-contrast;
    }

    .StepperStep:not(.StepperStepSelected):disabled,
    .StepperStep:not(.Actionable):not(.StepperStepSelected) {
        @apply dark:text-gray-500 text-gray-400;
    }

    .Table {
        @apply bg-white dark:bg-black-500 p-1 w-full border-collapse rounded-lg table-fixed border-spacing-0;
    }

    .Table thead {
        @apply sticky top-0 m-0 bg-white dark:bg-black-500;
    }

    .Table th {
        @apply text-left py-4 uppercase font-bold text-gray-600
        dark:text-gray-400 text-xs border-b border-gray-200 dark:border-black-300;
    }

    .Table tr {
        @apply border-b border-gray-100 dark:border-black-400;
    }

    .Table tr:last-child {
        @apply border-transparent;
    }

    .Table td {
        @apply py-2.5 text-sm;
    }
}
/* Stop purging. */
